<h1>{{user.username}}'s Summer Bucket List</h1>

<h2>Username: {{user.username}}</h2>

<ul>
  {{#each user.list}}
    <li>Name: {{this.name}}</li>
	<li>Completed: {{this.completed}}</li>
	<a href="/users/{{../user.id}}/lists/{{this.id}}/edit">Edit Bucket List Item</a>
	<form action="/users/{{../user.id}}/lists/{{id}}?_method=DELETE" method="POST">
  		<input type="submit" value="Delete Bucket List Item"/>
	</form>
  {{/each}}
</ul>

<a href="/users/{{user.id}}/lists/{{id}}/edit">Add a new Bucket List item</a>

<!-- <form action="/users/{{user.id}}/lists/" method="POST">
  <div>
    <label for="name">
      Name
    </label>
    <input type="text" name="name" value="{{newList.name}}"/>
  </div>
  <div>
    <label for="completed">
      Completed?
    </label>
    <span>YES<input type="radio" name="completed" value="true" checked /></span>
    <span>NO<input type="radio" name="completed" value="false"/></span>
  </div>
  <div>
    <input type="submit" value="Add a new Bucket List item"/>
  </div>
</form> -->