<h1>{{pokemon.name}}</h1>
<h2>Pokemon Show Page</h2>

<ul>
  <li>Name: {{pokemon.name}}</li>
  <img src="{{pokemon.img}}">
  <li>Type: {{pokemon.type}}</li>
 </ul>
 <h3>Stats:</h3>
 <ul>
  <li>Hp: {{pokemon.stats.hp}}</li>
  <li>Attack: {{pokemon.stats.attack}}</li>
  <li>Defense: {{pokemon.stats.defense}}</li>
  <li>Sp.Attack: {{pokemon.stats.spattack}}</li>
  <li>Sp.Defense {{pokemon.stats.spdefense}}</li>
  <li>Speed: {{pokemon.stats.speed}}</li>
</ul>

  <a href="/pokemon">Back Home</a>