<h1>{{user.first_name}}'s Project Ideas</h1>

<ul>
  {{#each user.project_ideas}}
    <li><a href="/users/{{../user.id}}/project-ideas/{{this.id}}">{{this.description}}</a></li>
    <br/>
  {{/each}}
</ul>

<a href="/users/{{user.id}}/project-ideas/new">Add New Idea</a>